extends layout

block content
  

  h1="Add a track here!"
  
  a(href='/tracks') 
          | Back to all locations &raquo;

  
  div.form_comment
    
    form(method="post" action="/addtrack") 
      h1="Fill in ons these fields!"
      div.addtrack
        input(type="text" name="track_name" placeholder="Fill in the title of this track" size="50")
        br
        input(type="text" name="place_name" placeholder="Fill in the place where this track starts" size="50")
        br
        input(type="text" name="region_name" placeholder="Fill in the region of this track" size="50")
        br
        input(type="text" name="track_type" placeholder="Fill in the track-type, f.e. walk, hike, bike" size="50")
        br
        input(type="text" name="track_length_km" placeholder="Fill in the length of the track, f.e. 8 km" size="50")
        br
        input(type="text" name="track_length_time" placeholder="Fill in the estimated time to complete this track, f.e. 6 hours" size="50")
        br
        input(type="text" name="track_level" placeholder="Fill in the level of this track" size="50")
        br
        textarea(type="text" name="intro" placeholder="Write a short intro here" cols="45" rows="8")
        br
        textarea(type="text" name="description" placeholder="Write a short description here" cols="45" rows="8")
        br
        input(type="text" name="image_link" placeholder="Add a picture with an URL" size="50")
        br
        input(type="submit" name="submit" placeholder="Submit")
        br
        
      
        
block scripts
