extends layout

block content
  
  .imgDivIntroText
    .textDivIntroText
      h1= "Find cool paths to walk or bike here and read the reviews and tips of other people!"
      h2= "Bonjour! I am Laura."
      p= "Something about the app bladiebla some nice introtext"    
  
  .tilesDiv
    .linkTiles#goToMap
        h3.tileFont
            | MAP
        a(href='/map') 
            | Check out the map over here &raquo;
    .linkTiles#goToLocations
        h3.tileFont
            | TRACKS
        a(href='/tracks') 
            | Check out all the tracks over here &raquo;
    .linkTiles#goToWalkTrails
        h3.tileFont
            | HIKING
        a(href='/tracks') 
            | Check out all the walking paths over here &raquo;
    .linkTiles#goToBikeTrails
        h3.tileFont
            | BIKING
        a(href='/tracks') 
            | Check out all the biking paths over here &raquo;
