//- MAIN LAYOUT TEMPLATE WITH ELEMENTS THAT COME BACK ON ALL PAGES
//- FINAL ASSIGNMENT NYCDA

doctype html
html
  
  head
    title Padvinder - Biking and hiking in France
    meta(charset="UTF-8")
    meta(name="description" content="Find hiking and biking tracks in Dordoge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="author" content="Laura Wille")
    meta(name="keywords" content="pathfinder, tracks, hiking, biking, Dordogne, France")
    link(href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet" )
    link(href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet" )
    link(href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet")
    link(href='/css/tracks.css' rel='stylesheet')
    link(href='/css/onetrack.css' rel='stylesheet')
    link(href='/css/index.css' rel='stylesheet')
    link(href='/css/layout.css' rel='stylesheet')
      
  body
    
    block header
      
      header  
        h1.headerLogo <i class="fas fa-map-signs"></i> PATHFINDER</h1>
      
      nav
        ul.nav_list
          li.nav_item
            a(href='/')
              | home
          li.nav_item
            a(href='/tracks')
              | check all tracks
          li.nav_item
            a(href='/map')
              | go to map
          li.nav_item
            a(href='/addtrack')
              | add track!

      //- to do: make header with icons and search bar, a login and register
      
    block content
      //- block for the content of the inheriting templates
        p This is the default! So if you see this text something is going wrong with loading the block content of the inheriting pug templates!

    block footer 
    
      footer
        //- .socialmediabuttons
        //-   a(href="#" class="fa fa-facebook")
        //-   a(href="#" class="fa fa-twitter")
        //-   a(href="#" class="fa fa-google")
        //-   a(href="#" class="fa fa-linkedin")
        //-   a(href="#" class="fa fa-youtube")
        //-   a(href="#" class="fa fa-instagram")
      
    block scripts
      //- block for the scripts of the inheriting templates
