//- MAIN LAYOUT FOR ALLE PAGE STRUCTURE

doctype html
html
  
  head
    title Padvinder - Biking and hiking in France
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Permanent+Marker')
    link(rel='stylesheet' href="https://fonts.googleapis.com/css?family=Noto+Sans")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(href='/css/tracks.css' rel='stylesheet')
    link(href='/css/onetrack.css' rel='stylesheet')
    link(href='/css/index.css' rel='stylesheet')
      //- to do week 4: fill in the metas
    //-link(rel='stylesheet', href='/styles/layout.css', type='text/css')
      
  
  body
    
    block header
      
      style(type="text/css").
        
        body {
          font-family: Noto Sans;
          color: #2B303A;
          background-color: #FDF9E7;
        }
        
        h1 {
          font-size: 30px;
        }
      
        
        .headermain img {
          box-sizing: border-box;
          float: left;
          width: 20%;
          height: auto;
          background: #555;
        }

        .headermain h1 {
          box-sizing: border-box;
          font-family: Permanent Marker;
          font-size: 70px;
          //- position: relative;
          margin: 0px;
          color: #D64933;
          text-align: center;
        }
                
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #EEC414;
        }
        
        li {
            float: left;
        }
        
        li a {
            display: block;
            color: #273058;
            font-weight: bold;
            font-size: 18px;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        li a:hover {
            background-color: #D64933;
            font-size: 20px;
            color: #2B303A;
        }
      
        footer {
          margin-top: 20px;
        }
      
      header  
        div.headermain
            //- img(src = "https://www.rug.nl/feb/career-services/img/topic-relatedinfo/topic-icoon-wegwijzer.jpg")
            h1
              | PADVINDER
        
      nav
        ul.nav_list
          li.nav_item
            a(href='/')
              | home
          li.nav_item
            a(href='/tracks')
              | tracks
          li.nav_item
            a(href='/map')
              | map

      //- to do: make header with icons and search bar, a login and register
                  
    block content
      //- block for the content of the inheriting templates
        p This is the default! So if you see this text something is going wrong with loading the block content of the inheriting pug templates!

    block footer 
    
      footer
        //- .socialmediabuttons
        //-   a(href="#" class="fa fa-facebook")
        //-   a(href="#" class="fa fa-twitter")
        //-   a(href="#" class="fa fa-google")
        //-   a(href="#" class="fa fa-linkedin")
        //-   a(href="#" class="fa fa-youtube")
        //-   a(href="#" class="fa fa-instagram")
      
    block scripts
      //- block for the scripts of the inheriting templates
