extends layout

block content
  
  style(type="text/css").
    img {
      width: 400px;
    }
    #map {
      display: block;
      width: 100%;
      height: 150px;
      margin: 0px;
      padding: 0px;
    }
    .form_comment {
      border-top-style: solid;
      border-bottom-style: solid;
    }
    .rating {
      content: '★' 
    }
  
  #map
  h1= name
  p= text
  br
  img(src=image)
  br
  div.linkBack
    a(href='/tracks') 
        | Back to all locations &raquo;
  br
  
  //- each review in reviews
  //- 
  //-   .showReviews
  //- 
  //-     p=review.
    
  div.form_comment
    h3.form_comment_title
      | ------- How did you like this track? --------
    form(method="post" action="/tracks/:id") 
      div.starRating
        | Rate the track!
        input(type="radio" id="star1" name="rating" value="1")
        input(type="radio" id="star2" name="rating" value="2")
        input(type="radio" id="star3" name="rating" value="3")
        input(type="radio" id="star4" name="rating" value="4") 
        input(type="radio" id="star5" name="rating" value="5") 
      div.comment
        textarea(type="text" id="commentText" placeholder="Your feedback here" cols="45" rows="8")
        br
        input(type="text" id="commentAuthor" placeholder="Name" size="50")
        input(type="email" id="commentAuthorMail" placeholder="E-mail" size="50")
        br
        input(type="submit" name="submit" placeholder="Submit")
        br
          
block scripts
  script(src='/single-map.js')
  script(src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyB4GRRyCuOb5nvrXsCMtmfgaHzv2ogfRdQ&callback=initMap` async defer)
