
.addTrackForm {
  display: block;
  margin-left: 0px;
}

form {
  padding: 30px;
  margin-left: 0px;
  background: -webkit-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: -moz-linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  background: linear-gradient(bottom, #CCCCCC, #EEEEEE 175px);
  margin: auto;
  /* width: 550px; */
  /* height: 450px; */
  font-weight: bold;
  /* color: #09C; */
  /* text-decoration: none; */
  border-radius: 10px;
  border: 1px solid #999;

}

input {
  margin: 5px;
}

textarea {
  margin: 5px;
}

.inputField {
   margin-left: 150px;
}
