
.highlight {
  color: #D64933;
  padding-left: 3em;
}

.box {
  border: solid;
  border-radius: 0.5em;
  border-color: #273058;
  padding: 0.5em;
  background-color: #EEC414;
}

.boxList {
  padding-left: 2em;
  text-decoration: none;
}

figure img {
  float: left;
  width: 200px;
  heigth: 100px;
  padding: 20px;
}

.socialmediaButton {
  clear: both;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  text-align: center;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: black;
  color: white;
}

/* tree equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding-left: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout for three columns instead of four */
@media (max-width: 800px) {
    .column {
        width: 50%;
    }
}

/* Responsive layout for stacking the two columns on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
