/* CSS FOR INHERITED INDEX TEMPLATE
FINAL ASSIGNMENT NYCDA
GRID AND OTHER GENERAL PROPERTIES ARE SET IN THE MAIN LAYOUT CSS */

/* ------------------ PROPERTIES FOR THE IMAGE BOX --------------------------------------------*/

/* STARTSITUATION: tree equal columns that floats next to each other */
.column {
    float: left;
    width: 30%;
    padding-left: 10px;
}

.column img {
    margin-top: 12px;
    width: 100%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout for two columns instead of three */
@media (max-width: 1000px) {
    .column {
        width: 35%;
    }
}

/* Responsive layout for stacking the two columns on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column {
        width: 100%;
   }
}
