

/**
  * 1. Use grid.
  * 2. Gutter space.
  * 3. Center at large sizes.
  * 4. Set maximum width.
*/

  .gridContainer {
    display: grid; /* 1 */
    grid-gap: 2em; /* 2 */
    margin: 1em auto; /* 2, 3 */
    max-width: 80em; /* 4 */
    padding: 0 1.5em; /* 2 */
  }

/* Sidebar inherits grid display styles and gap size. This will be simpler once `display: subgrid` is supported! */
  .aside {
    display: inherit;
    grid-gap: inherit;
  }

/* At slightly wider sizes, show sidebar elements side by side (each taking up half the space, minus gutter gap and stuff). */
  @media (min-width: 34em) and (max-width: 49.9375em) {
    .aside {
      grid-template-columns: 1fr 1fr;
    }
  }

/* At even wider sizes… */
  @media (min-width: 50em) {
    /* Establish one primary (⅔) column and one secondary (⅓) column. */
    .gridContainer {
      grid-template-columns: 2fr 1fr;
    }

/**
  * 1. Automatically create sidebar rows that are as short as their content will allow.
  * 2. Make this element span two rows, allowing prose elements to flow to its left.
*/

  .aside {
      grid-auto-rows: min-content; /* 1 */
      grid-row: span 2; /* 2 */
    }
  }




  /* .textDivIntroText {
      box-sizing: border-box;
      margin: 0px;
      //- background-color: #EEE5E9;
  }

  .linkTiles {
      box-sizing: border-box;
      width: 24%;
      display: inline-block;
      margin: 10px;
      border: solid;
      border-color: red;
  }

  .tileFont {
      font-family: Permanent Marker;
      color: red;
      text-align: center;
  }

  #goToMap {
      background-image: url("http://www.wanneyn.be/uploads/artikels/22786_x-nite.jpg");
  } */
