
  .oneTrackMap {
    display: block;
    width: 100%;
    height: 200px;
    margin: 0px;
    padding: 0px;
  }

  article {
    overflow: auto;
    width: 100%;
    color: #273058;
  }

  #trackTitle_OneTrack {
    margin-bottom: 0px;
    text-align: center;
    background-color: #E7EBFD;
    color: #273058;
    padding: 25px;
  }

  /* .headTrackInfoTwo {
    margin-bottom: 0px;
    text-align: center;
    background-color: #E7EBFD;
    color: #273058;
    padding: 25px;
  } */

  .tags {
    margin: 0px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #E7EBFD;
  }

  #rateTags {
    margin-top: 10px;
  }

  figure img {
    float: left;
    width: 300px;
    heigth: 200px;
    padding-left: 0px;
    padding-right: 20px;
  }

  #imgOneTrack {
    width: 100%;
  }

  #trackIntro {
    font-weight: bold;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #E7EBFD;
    margin-bottom: 0px;
    margin-top: 10px;
    text-align: center;
  }

  #trackDescription {
    padding-right: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: #E7EBFD;
    margin-top: 0px;
  }

  #reviewTitlebar {
    margin: 0px;
    text-align: center;
    background-color: #E7EBFD;
    color: #273058;
    padding: 25px;
  }

  .reviewUnique {
    box-sizing: border-box;
    display: inline-block;
    margin: 30px;
    width: 300px;
    text-align: center;
    background-color: #E7EBFD;
    color: #273058;
  }

  .form_comment {
    border-top-style: solid;
    border-bottom-style: solid;
  }

  .form_comment_title {
    text-align: center;
  }
  /* .rating {
    content: '★'
  } */

  #reviewStar {
    font-size: 24px;
    color: gold;
    margin-top: 0px;
  }

  #labelReviewStar {
    background-color: white;
    color: black;
  }
