/* CSS FOR INHERITED INDEX TEMPLATE
FINAL ASSIGNMENT NYCDA
GRID AND OTHER GENERAL PROPERTIES ARE SET IN THE MAIN LAYOUT CSS */

/* ------------------ PROPERTIES FOR THE POSTBLOCKS --------------------------------------------*/

  .postblock {
    box-sizing: border-box;
    display: inline-block;
    margin: 15px;
    width: 300px;
    text-align: center;
    background-color: #E7EBFD;
    color: #273058;
  }

  .tags {
    margin: 5px;
  }

  span {
    color: #E7EBFD;
    display: inline-block;
    margin: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50px;
    font-size: 12px;
    background-color: #D64933;
  }

  .postblock img {
    display: block;
    width: 200px;
    height: 150px;
    margin: 0px auto;
  }

  .tracklink {
    display: block;
    margin: 1.5em;
    text-align: center;
  }
